  
@font-face{
    font-family: "myriadpro";
    src: url('../fonts/myriad/MYRIADPRO-REGULAR.woff');
}
@font-face{
    font-family: "nexa-ligth";
    src: url('../fonts/Nexa/Nexa_Regular.otf');
}
@font-face{
    font-family: "nexa-bold";
    src: url('../fonts/Nexa/Nexa_Bold.otf');
}


.myriad > *{
    font-family: 'myriadpro' !important;
    font-weight: bold !important;
}
p,span{
	font-family: 'myriadpro';


	
}
h1,h2,h3,h4,h5,h6{
	font-family: 'nexa-bold';
	font-weight: 700;
}